deb {{ apt_general_url[ansible_architecture] }} {{ ansible_distribution_release }} main restricted
deb-src {{ apt_general_url[ansible_architecture] }} {{ ansible_distribution_release }} main restricted

deb {{ apt_general_url[ansible_architecture] }} {{ ansible_distribution_release }}-updates main restricted
deb-src {{ apt_general_url[ansible_architecture] }} {{ ansible_distribution_release }}-updates main restricted

deb {{ apt_security_url[ansible_architecture] }} {{ ansible_distribution_release }}-security main restricted
deb-src {{ apt_security_url[ansible_architecture] }} {{ ansible_distribution_release }}-security main restricted
deb {{ apt_security_url[ansible_architecture] }} {{ ansible_distribution_release }}-security universe
deb-src {{ apt_security_url[ansible_architecture] }} {{ ansible_distribution_release }}-security universe
deb {{ apt_security_url[ansible_architecture] }} {{ ansible_distribution_release }}-security multiverse
deb-src {{ apt_security_url[ansible_architecture] }} {{ ansible_distribution_release }}-security multiverse
{% if apt_enable_universe | default(True) %}

deb {{ apt_general_url[ansible_architecture] }} {{ ansible_distribution_release }} universe
deb-src {{ apt_general_url[ansible_architecture] }} {{ ansible_distribution_release }} universe
deb {{ apt_general_url[ansible_architecture] }} {{ ansible_distribution_release }}-updates universe
deb-src {{ apt_general_url[ansible_architecture] }} {{ ansible_distribution_release }}-updates universe
{% endif %}
{% if apt_enable_multiverse | default(True) %}

deb {{ apt_general_url[ansible_architecture] }} {{ ansible_distribution_release }} multiverse
deb-src {{ apt_general_url[ansible_architecture] }} {{ ansible_distribution_release }} multiverse
deb {{ apt_general_url[ansible_architecture] }} {{ ansible_distribution_release }}-updates multiverse
deb-src {{ apt_general_url[ansible_architecture] }} {{ ansible_distribution_release }}-updates multiverse
{% endif %}
{% if apt_enable_backports | default(True) %}

deb {{ apt_general_url[ansible_architecture] }} {{ ansible_distribution_release }}-backports main restricted universe multiverse
deb-src {{ apt_general_url[ansible_architecture] }} {{ ansible_distribution_release }}-backports main restricted universe multiverse
{% endif %}
